<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Username" name="username" required  formControlName="username" cdkFocusInitial>
                    <div *ngIf="loginFormSubmitted && f.username.errors">
                        <mat-error *ngIf="f.username.errors.required">username is required</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" name="password" required  formControlName="password"> 
                    <div *ngIf="loginFormSubmitted && f.password.errors">
                        <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                        <mat-error *ngIf="f.password.errors.pattern">Password must include a letter and a number</mat-error>
                    </div>
                </mat-form-field>
                <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">OK</button>
        </mat-card-actions>
    </form>
</mat-card>