:host {
  display: flex;
  justify-content: center;
}

.mat-card {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-header,
mat-card-content {
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
