<h1 mat-dialog-title>Select the software to install/uninstall</h1>
<div mat-dialog-content>

  <mat-grid-list cols="2">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Recommended software</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let item of software">
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="item.installed" [disabled]="item.id === 'keycloak'" *ngIf="item.recommended === true" matTooltip="item.description">{{item.name}}
          </mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Optional software</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let item of data">
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="item.installed" [disabled]="item.id === 'keycloak'" *ngIf="item.recommended === false" matTooltip="item.description">{{item.name}}
          </mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>

  </mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="install()" color="primary">Install / Uninstall</button>
</div>
<p></p>
<mat-progress-bar [style.display]="showSpinner ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>