<mat-card>
    <form [formGroup]="signForm" (ngSubmit)="signup()">
        <mat-card-header>
            <mat-card-title>Credentials for admin user</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Username" name="username" required formControlName="username" cdkFocusInitial>
                <div *ngIf="signFormSubmitted && f.username.errors">
                    <mat-error *ngIf="f.username.errors.required">username is required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" name="password" required formControlName="password"> 
                <div *ngIf="signFormSubmitted && f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                    <mat-error *ngIf="f.password.errors.pattern">Password must include a lowercase letter, an uppercase letter and a number</mat-error>
                </div>
             </mat-form-field>
             <mat-form-field>
                <input matInput placeholder="Repit password" type="password" name="verifyPassword" required formControlName="verifyPassword"> 
                <div *ngIf="signFormSubmitted && f.verifyPassword.errors">
                    <mat-error *ngIf="f.verifyPassword.errors.required">Password is required</mat-error>
                    <mat-error *ngIf="f.verifyPassword.errors.pattern">Password must include a lowercase letter, an uppercase letter and a number</mat-error>
                    <mat-error *ngIf="f.verifyPassword.errors.mustMatch">Passwords must match</mat-error>
                </div>
             </mat-form-field>
                <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">OK</button>
        </mat-card-actions>
    </form>
</mat-card>